{% extends "layout.html" %}
{% block menu_top %}{% endblock %}
{% block body %}
<div><button id="hideButton" onclick="HideUpdates()">Hide updates</button></div>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Vendor</th>
    </tr>
    {% for soft in data %}
    <tr {% if soft.IsUpdate ==True %}class="update"{% endif %}>
        <td><a href="{{url_for('software', name=soft.Name|escape )}}">{{soft.Name}}</a></td>
        <td>{% if soft.Version != None %}{{soft.Version}}{% endif %}</td>
        <td>{% if soft.Vendor != None %}{{soft.Vendor}}{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block menu_bottom %}{% endblock %}
