<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include "menu.html" %}
<div>
<h2>{{ title }}</h2>
<table>
    <tr>
        <th>Hostname</th>
        <th>Date</th>
        <th>DNSHostName</th>
        <th>ProductName</th>
        <th>InstallationType</th>
        <th>EditionId</th>
        <th>CurrentVersion</th>
        <th>BuildLabEx</th>
        <th>PowerShell</th>
    </tr>
    {% for host in data %}
    <tr>
        <td><a href="{{url_for('host',h_name=host.Hostname)}}">{{host.Hostname}}</a></td>
        <td>{% if host.Pub_date != None                %}{{ host.Pub_date }}{% endif %}</td>
        <td>{% if host.CsDNSHostName != None           %}{{ host.CsDNSHostName }}{% endif %}{% if host.CsDomain != None %}.{{ host.CsDomain }}{% endif %}</td>
        <td>{% if host.WindowsProductName != None      %}{{ host.WindowsProductName }}{% endif %}</td>
        <td>{% if host.WindowsInstallationType != None %}{{ host.WindowsInstallationType }}{% endif %}</td>
        <td>{% if host.WindowsEditionId != None        %}{{ host.WindowsEditionId }}{% endif %}</td>
        <td>{% if host.WindowsCurrentVersion != None   %}{{ host.WindowsCurrentVersion }}{% endif %}</td>
        <td>{% if host.WindowsBuildLabEx != None       %}{{ host.WindowsBuildLabEx }}{% endif %}</td>
        <td>{% if host.PowerShell != None              %}{{ host.PowerShell }}{% endif %}</td>
    </tr>
    {% endfor %}
</table></div>
<br>
{% include "menu.html" %}
</body>
</html>
