{% extends "layout.html" %}
{% block menu_top %}[&nbsp;<a href="{{url_for('export_hosts')}}">csv</a>&nbsp;]{% endblock %}
{% block body %}
<table>
    <tr>
        <th>Hostname</th>
        <th>ProductName</th>
        <th>InstallationType</th>
        <th>Edition</th>
        <th>Version</th>
        <th>Build</th>
        <th>PowerShell</th>
        <th>Date report</th>
    </tr>
    {% for host in data %}
    <tr>
        <td><a href="{{url_for('host',h_name=host.Hostname)}}">{{host.Hostname}}</a></td>
        <td>{% if host.WindowsProductName != None      %}{{ host.WindowsProductName }}{% endif %}</td>
        <td>{% if host.WindowsInstallationType != None %}{{ host.WindowsInstallationType }}{% endif %}</td>
        <td>{% if host.WindowsEditionId != None        %}{{ host.WindowsEditionId }}{% endif %}</td>
        <td>{% if host.WindowsCurrentVersion != None   %}{{ host.WindowsCurrentVersion }}{% endif %}</td>
        <td>{% if host.WindowsBuildLabEx != None       %}{{ host.WindowsBuildLabEx }}{% endif %}</td>
        <td>{% if host.PowerShell != None              %}{{ host.PowerShell }}{% endif %}</td>
        <td>{% if host.Pub_date != None                %}{{ host.Pub_date.strftime('%Y-%m-%d %H:%M') }}{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block menu_bottom %}[&nbsp;<a href="{{url_for('export_hosts')}}">csv</a>&nbsp;]{% endblock %}
