<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body onload="HideUpdates();">
<div>
    [&nbsp;<a href="/">Home</a>&nbsp;]
    [&nbsp;<a href="{{url_for('all_software')}}">All software</a>&nbsp;]
    {% block menu_top %}{% endblock %}
</div>
<div><h2>{{ title }}</h2></div>
{% block body %}{% endblock %}
<br>
<div>
    [&nbsp;<a href="/">Home</a>&nbsp;]
    [&nbsp;<a href="{{url_for('all_software')}}">All software</a>&nbsp;]
    {% block menu_bottom %}{% endblock %}
</div>
</body>
</html>
